@(now: Int)

<h1><strong>Ruru-Logger</strong> <small>for Danganronpa</small></h1>


<ul class="nav nav-tabs" role="tablist">
   <li @if(now==1){class="active"}><a href="/">メイン</a></li>
   <li @if(now==2){class="active"}><a href="/add">編集</a></li>
   <li @if(now==3){class="active"}><a href="/about">アプリ情報</a></li>
   <li><a href="http://ronpawwf.whoa.jp/" target="_blank">ダンガンロンパ人狼Wiki <small><span class="glyphicon glyphicon-new-window"></span></small></a></li>
   <li><a href="http://ruru-jinro.net/" target="_blank">「汝は人狼なりや？」るる鯖 <small><span class="glyphicon glyphicon-new-window"></span></small></a></li>
</ul>
