@()
<h3 class="text-center">Quick Search</h3>
<div class="list-group">
  <a href="/qs/all" class="list-group-item">全ての村</a>
  <a href="/qs/12B" class="list-group-item">12B</a>
  <a href="/qs/17A" class="list-group-item">17A</a>
  <a href="/qs/18A" class="list-group-item">18A猫</a>
  <a href="/qs/19D" class="list-group-item">19D猫</a>
  <a href="/qs/many" class="list-group-item">20人以上</a>
  <a href="/qs/special" class="list-group-item">特殊ルール</a>
  <a href="/qs/beginner" class="list-group-item">初心者村</a>
  <a href="/qs/deserted" class="list-group-item">開始前廃村</a>
</div>
<p><a href="/about#log">村取得基準とログ編集のお願い</a></p>

